.background {
    min-height: 100vh;
    width: 100%;
    background-image: url(../../../../public/pexels-cmonphotography-1809644.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    max-width: 400px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.content h1 {
    color: white;
    margin-bottom: 10px;
}

.content p {
    color: white;
    margin-bottom: 20px;
}

.content input {
    padding: 12px 15px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.content input:focus {
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

.content button {
    padding: 12px 24px;
    border: none;
    background-color: #4a90e2;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition:  0.3s ;
    margin-top: 10px;
    width: 100%;
}


.content button:hover {
    background-color: #357abd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.loginLink {
    margin-top: 15px;
    color: white;
    font-size: 14px;
}

.loginLink span {
    color: #4a90e2;
    cursor: pointer;
    text-decoration: underline;
}

.loginLink span:hover {
    color: #357abd;
}
