
.todoItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.btn {
  background-color: #4267B2;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #a9a9ea;
  transform: scale(1.05);
}
.container {
  text-align: center;
  margin: 20px 0;
}